<html>
{{>header}}
<body class="container">
{{>navbar}}
<div class="mx-3">
    <h1 class="text-center"> About us</h1>
    <h3>Who are we?</h3>
    <p>The Scottish Pantry Network (TSPN) currently have 6 pantries in Glasgow either recently opened or in progress, a further pantry is in progress in Inverclyde and 2 more are in the initial development stages in Renfrewshire. We wanted to find out more about their work and spoke with Cllr Mandy Morgan (Chairperson) about the thinking behind the project and their aims and vision.</p>
    <h3>Our Mission</h3>
    <p>We want to create a sustainable network of Pantries across Scotland providing a holistic and dignified approach to food insecurity using quality foods that will empower individuals and communities to help each other and themselves; and hubs that will provide holistic wrap around services to the whole community.</p>
    <h3>What is the Pantry Donation App?</h3>
    <p>We have launched a web application to connect people who have surplus fruit and vegetables that they have grown with pantries in the same area who would benefit from that food.</p>
    <p>If you need to get in touch, reach us on our <a href="/contact">contact page</a>.</p>
</div>
</body>
</html>