<html>
{{>header}}
<body class="container">
    {{>navbar}}
    <h1>Admin Page</h1>
    <div>
    <div class="text-right">
        <a href="/donate" class="btn btn-primary">
            Have extra food? Donate here!
        </a>
    </div>
    <div class="text-right" style="margin-bottom: 1em;">

    </div>
        {{#foods}}
            <div className="entries">
                {{foodname}} 
                <br>
                {{description}}
                <p>
                    There are {{quantity}} and they go off in {{expiry}}
                </p>
                <p> Donated by <a href="/foods/{{donatorname}}">{{donatorname}}</a> </p>
            </div>
            </div>
            <hr>
        {{/foods}}
        {{^foods}}
            No donations available.
        {{/foods}}

    </div>
</body>
</html>