<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet"  type="text/css" src="/views/pantry.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> {{! Bootstrap not working properly without these scripts}}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>  {{! Bootstrap not working properly without these scripts}}
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> {{! Bootstrap not working properly without these scripts}}
    <style>
        .spnnav:hover {
            background-color: #3a6164;
        }
        html {
            background-color: #3a6164;
        }
        .{{activenav}} {
            background-color: #3a6164;
        }
    </style>
    <title>{{title}}</title>
</head>