<html>
{{>header}}
<body class="container">
{{>navbar}}
    <div class="mx-3">
        <h1 class="text-center">The Pantry Connect App</h1>
        <h3 class="text-center mb-5">The Scottish Pantry Network</h3>
    </div>
    <div class="row mx-3">
        <div class="col">
            <h3>Welcome!</h3>
            <p>Welcome to The Pantry Connect App! We have launched a web application to connect people who have surplus fruit and vegetables that they have grown with pantries in the same area who would benefit from that food.</p>
            <h3>How do I use it?</h3>
            <p>To use the application, register an account for us and list any surplus food you have in the donate page. Thank you for helping our communities connect and grow! If you need to get in touch, reach us on our <a href="/contact">contact page</a>.</p>

        </div>
        <div class="col text-center">
            <img src="https://scottishpantrynetwork.org.uk/wp-content/uploads/2020/09/scottish-pantry-network-logo.jpg" height="400">
        </div>
    </div>
</body>
</html>