<html>
<head>
    {{>header}}
</head>
<body class="container">
{{>navbar}}
    <h1>{{title}}</h1>

        <div class="text-center">
            <h1>Sorry...</h1>
            <h2>You do not have permission to access this page.</h2>
        </div>
</body>
</html>