<html>
<head>
    {{>header}}
</head>
<body class="container">
{{>navbar}}
    <h1>{{title}}</h1>

        <div class="text-center">
        <span>
        <h1>Thank you for choosing to donate!</h1>
            <h2>You need to have an account to make a Donation.</h2>
            <a class="btn btn-primary" href="/register">Register</a>
        </span>
        </div>
        <div class="text-center">
        <span>
            <h2>Already have an account? </h2>
            <a class="btn btn-primary" href="/login">Login Here!</a>
        </span>
        </div>
</body>
</html>